* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1.56;
}

.buttons {
    width: 200px;
    background-color: #fff;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    color: #458FF6;
    text-decoration: none;
    line-height: 3.33;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 72px;
}